<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- 自动扫描包-->
    <context:component-scan base-package="cap.dao"></context:component-scan>
    <!-- 配置数据源-->
    <bean id="dataSoure" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://locallhost:3306/cap"/>
        <property name="username" value="root"/>
        <property name="password" value="root/\"/>
    </bean>
    <!-- 配置Spring的JdbcTemplate数据源-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="dataSource" ref="dataSoure"></property>

    </bean>

</beans>